.game {
    width: 500px;
    border: 15px solid darkblue;
    padding: 50px;
    margin: 20px;
    background: lightgrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}